<!--angularJS-->
<script src= "node_modules/angular/angular.min.js"></script>
<script src= "calculator.js"></script>
<!-- Bootstrap -->
<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<div ng-app="CalculatorApp" ng-controller="CalculatorController">

    <div class="">
        <h1 class="text-center">Calcul salaire brut net</h1>

        <div class="col-lg-3">
            <form>
                <div class="form-group">
                    <label>Horaire Brut</label>
                    <input type="number" class="form-control" ng-model="horaireBrut" ng-change="resultFromHB()" placeholder="Horaire Brut" ng-value="{{horaireBrut}}">
                </div>
                <div class="form-group">
                    <label>Mensuel Brut</label>
                    <input type="number" class="form-control" ng-model="mensuelBrut" ng-change="resultFromMB()" placeholder="Mensuel Brut" ng-value="{{mensuelBrut}}">
                </div>
                <div class="form-group">
                    <label>Annuel Brut</label>
                    <input type="number" class="form-control" ng-model="annuelBrut" ng-change="resultFromAB()" placeholder="Annuel Brut" ng-value="{{annuelBrut}}">
                </div>
            </form>
        </div>
        <div class="col-lg-3">
            <form>
                <div class="form-group">
                    <label>Horaire Net</label>
                    <input type="text" class="form-control" ng-model="horaireNet" ng-change="resultFromHN()" placeholder="Horaire Net" ng-value="{{horaireNet}}">
                </div>
                <div class="form-group">
                    <label>Mensuel Net</label>
                    <input type="text" class="form-control" ng-model="mensuelNet" ng-change="resultFromMN()" placeholder="Mensuel Net" ng-value="{{mensuelNet}}">
                </div>
                <div class="form-group">
                    <label>Annuel Net</label>
                    <input type="text" class="form-control" ng-model="annuelNet" ng-change="resultFromAN()" placeholder="Annuel Net" ng-value="{{annuelNet}}">
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-5">Nombres d'heures par semaine</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" ng-model="heures" ng-change="resultHeures()" placeholder="{{heures}}">
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-5">Nombres de mois</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" ng-model="mois" ng-change="resultMois()" placeholder="{{mois}}">
                    </div>
                </div>
            </form>
            <!--<form class="form-horizontal">-->
                <!--<label class="col-sm-5">Secteur</label>-->
                <!--<label class="radio-inline">-->
                    <!--<input type="radio" name="inlineRadioOptions"> Privé-->
                <!--</label>-->
                <!--<label class="radio-inline">-->
                    <!--<input type="radio" name="inlineRadioOptions"> Public-->
                <!--</label>-->
            <!--</form>-->
        </div>




        </div>
</div>
